<footer role="contentinfo">
    <hr>
    <small>
    <nav style="margin-bottom:1rem;" role="navigation">
        <a href="/about">About</a>
        <span>&middot;</span>
        <a href="/atom.xml">RSS</a>
        <span>&middot;</span>
        <a href="https://github.com/bradleytaunt/lightspeed">Template source on Github</a>
        <br>
        <a href="https://github.com/iks0x1b/iks0x1b.github.io">Page source on Github</a>
    </nav>
        Maintained with &hearts; for the web.
    </small>
</footer>
